body {
    justify-content: center;
    align-items: center;
    font-family: 'Righteous', cursive;
}

div#imageContainer {
    background: url('https://i.pinimg.com/originals/32/54/17/325417b6089534edd04b44c07a5e680e.png');
    background-size: cover;

    background-repeat: repeat-y;

    animation-name: backgroundImage;
    animation-duration: 1500s;
    animation-iteration-count: infinite;
}

#title {
    margin: 10px 0 5px 0;
    color: darkgoldenrod;
    text-shadow: 2px 2px black;
    font-size: 60px;
    animation-name: titleAnim;
    animation-duration: 4s;
    animation-iteration-count: 4;
}

@keyframes titleAnim {
    
    0%   {
        transform: scale(1.0);
        color: darkgoldenrod;
    }
    22%  {
      transform: scale(1.2);
      color: beige;
    }
    42%  {
    transform: scale(1.0);
      color: bisque;
    }
    62% {
    transform: scale(1.2);
    color: chocolate
    }
    82% {
    transform: scale(1.0);
      color: coral;
    }
    92% {
        transform: scale(1.2);
        color: darkgoldenrod;
    }
    100% {
        transform: scale(1.0);
        color: darkgoldenrod;
    }

}

@keyframes titleBeat {

    0%   {
        transform: scale(1.0);
    }
    1% {
        transform: scale(1.2);
    }
    25%  {
        transform: scale(1.0);
    }
    26% {
        transform: scale(1.2);
    }
    50%  {
        transform: scale(1.0);
    }
    51% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(1.0);
    }
    76% {
        transform: scale(1.2);
    }
    99% {
        transform: scale(1.0);
    }
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.player {
    background: teal;
    border: 5px solid black;
    height: 150px;
    width: 95px;
    display: flex;
    margin: 0 5px 25px 5px;
}

div.dealer {
    background: salmon;
    border: 5px solid black;
    height: 150px;
    width: 95px;
    display: flex;
    margin: 25px 5px 25px 5px;
}

.board {
    margin: 10px 10px 35px 0;
    border: 3px solid black;
    text-decoration: none;
    text-align: center;
    background: whitesmoke;
}

div#message {
    padding: 5px 8px 5px 8px;
    border-color: gold;
    background: whitesmoke;
}

button#refresh {
    margin-top: -5px;
    margin-bottom: -5px;
    font-size: 15px;
}

div.stakes {
    margin: 10px 5px 10px 5px;
}

div.cash {
    padding: 5px 8px 5px 8px;
    border: gold;
    background: gold;
    color: white;
}

/* div#dealer {
    animation: shuffle 3s linear .2s;
    animation-iteration-count: 1;
}

div#player {
    animation-name: shuffle;
    animation-duration: 4s;
    animation-iteration-count: 1;
} */

div#p01 {
    animation: shuffleP 1.2s linear .2s;
    animation-iteration-count: 2;
}
div#p02 {
    animation: shuffleP 1.8s linear .2s;
    animation-iteration-count: 2;
}
div#p03 {
    animation: shuffleP 1.5s linear .2s;
    animation-iteration-count: 2;
}
div#p04 {
    animation: shuffleP 2s linear .2s;
    animation-iteration-count: 2;
}
div#p05 {
    animation: shuffleP 1.4s linear .2s;
    animation-iteration-count: 2;
}

@keyframes shuffleP {
    33% {
        transform: translate(1000px, 50px)
    }
    66% {
        transform: translate(-1000px, -45px)
    }
}
div#d01 {
    animation: shuffleD 1.2s linear .2s;
    animation-iteration-count: 2;
}
div#d02 {
    animation: shuffleD 1.9s linear .2s;
    animation-iteration-count: 2;
}
div#d03 {
    animation: shuffleD 1.5s linear .2s;
    animation-iteration-count: 2;
}
div#d04 {
    animation: shuffleD 1.7s linear .2s;
    animation-iteration-count: 2;
}
div#d05 {
    animation: shuffleD 1.4s linear .2s;
    animation-iteration-count: 2;
}


@keyframes shuffleD {
    33% {
        transform: translate(-1000px, 60px)
    }
    66% {
        transform: translate(1000px, -40px)
    }
}

@keyframes backgroundImage {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 0% 10000%
    }
}