body {
    justify-content: center;
    align-items: center;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.player {
    background: teal;
    border: 5px solid black;
    height: 150px;
    width: 95px;
    display: flex;
    margin-bottom: 25px;
}
div.dealer {
    background: salmon;
    border: 5px solid black;
    height: 150px;
    width: 95px;
    display: flex;
    margin-bottom: 25px;
    margin-top: 25px;
}