body {
    justify-content: center;
    align-items: center;
    font-family: 'Righteous', cursive;
    background: palegoldenrod;
}

#title {
    font-size: 60px;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.player {
    background: teal;
    border: 5px solid black;
    height: 150px;
    width: 95px;
    display: flex;
    margin: 0 5px 25px 5px;
}

div.dealer {
    background: salmon;
    border: 5px solid black;
    height: 150px;
    width: 95px;
    display: flex;
    margin: 25px 5px 25px 5px;
}

.board {
    margin: 10px 10px 0 0;
    border: 3px solid black;
    text-decoration: none;
    text-align: center;
    background: white;
}

div#message {
    padding: 5px 8px 5px 8px;
    border-color: gold;
    background: palegoldenrod;
}
